{{ instruction }}

This is the info stored in the memory, you can update it by calling update_short_term_memory() with the new info. 
Remember to include all the details as the memory will be overwritten with the new info.
--- SHORT TERM MEMORY ---
{{ short_term_memory }}
---

This is the most similar info retrieved comparing the latest message in the conversation with the info stored in the long term memory.
You can store or retrieve any special details from the long term memory by calling store_long_term_memory() or retrieve_long_term_memory().
--- LONG TERM MEMORY ---
{{ retrieved_data }}