# Saving here but will move to poetry when scaling the system, trying to install as few libs as possible

instructor
Jinja2
openai
python-dotenv
torch # TODO: Remove dependency on local torch installation for models accessed via API key services.
transformers # Add last version.
