{%- if feedback %}
{{feedback}}
{% endif %}

{%-if available_tools %}
These are the available tools that you found on your last search on the database:
{% for tool in available_tools %}
- {{ tool }}
{% endfor %}
{% endif %}